<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <h1> Add a new Book</h1>

    <form action="/add-book" method="post" th:object="${book}">
        <label for="title">Title:</label>
        <input type="text" id="title" th:field="*{title}"> <br> <br>

        <label for="title">Author:</label>
        <input type="text" id="author" th:field="*{author}">

        <button type="submit">Add Book</button>
    </form>
    <a href="/books">back to List</a>
</body>
</html>